In [1]:
name = input("Enter your name")

Enter your nameshantanu

In [2]:
print(name)

shantanu

In [4]:
print("First message")
print("Second message")

First message
Second message

In [5]:
print("First message",end=" ")
print("Second message")

First message Second message

In [6]:
i=10_34

In [8]:
i=10 ** -308
print(i)

1e-308

In [14]:
i=1.0 * 10 ** +400
print(i)

OverflowError: int too large to convert to float

In [15]:
inst = "IACSD"

In [16]:
paragraph = """I am here in pune.
There is a festival 
We are practicing python
"""

In [17]:
print(paragraph)

I am here in pune.
There is a festival
We are practicing python

In [20]:
name = "IACSD \n Pune"

In [21]:
print(name)

IACSD
 Pune

In [23]:
var1 : int =10
print(var1)
var1="pune"
print(var1)
var1=99.99
print(var1)

10
pune
99.99

In [25]:
id(var1)

2021554128144

In [24]:
print(j)

NameError: name 'j' is not defined

In [26]:
4 ** 0.5

2.0

In [28]:
4 ** (1/3)

1.5874010519681994

In [29]:
var1 = 10
var2 = var1
print(var2 is var1)

True

In [30]:
200  if var1 == 10  else 400

200

In [31]:
2 ** 3 ** 2

512

In [39]:
t:=10-4*100

SyntaxError: invalid syntax (2071191300.py, line 1)

In [37]:
print(t)

6

In [44]:
x=-50
y=False
print(x or y)

-50

In [47]:
a=0
b=10
print(not a == b, (not a) == b, not(a == b) )

True False True

In [49]:
0.1 + 0.1 + 0.1 == 0.3

False

# if else
if else is very simple in python

WAP to check if given number is less than 100.
If less than 100 then print less
if between 101 to 200 then print between
if greater than equal to 201 then print more

In [52]:
num=150

In [54]:
if num < 100:
    print("less")
elif 101 <= num <= 200:
    print("between")
else:
    print("more")

between

In [59]:
# Assign a platinum card if income is greater 50K
# Else assign a Gold card
income = 30000
card = "Platinum" if income > 50000 else ("Gold" if income > 40000 else "Silver")

In [60]:
print(card)

Silver

WAP for checking whether prime or not

In [71]:
no=15

In [73]:
num=2
while num < no: # 2 < 15  --> True
    if no % num == 0: # 15 % 2 --> 1 --> False
        print("Not prime")
        break
    num = num +1
else:
    print("Prime")

Not prime

In [74]:
import math
num=2
while num <= math.sqrt(no): # 2 < 15  --> True
    if no % num == 0: # 15 % 2 --> 1 --> False
        print("Not prime")
        break
    num = num +1
else:
    print("Prime")

Not prime

In [75]:
import math
if no < 2:
    print("Invalid input")
if no ==2:
    print("Prime")
num=3
while num <= math.sqrt(no): # 2 < 15  --> True
    if no % num == 0: # 15 % 2 --> 1 --> False
        print("Not prime")
        break
    num = num +2
else:
    print("Prime")

Not prime

In [77]:
no = 11

In [78]:
for num in range(no):
    if num > 1:
        if no % num ==0:
            print("Not prime")
            break
else:
    print("Prime")

Prime

In [79]:
for num in range(2,no):
    if no % num ==0:
        print("Not prime")
        break
else:
    print("Prime")

Prime