## Basic Logic building programs

Simple Calculator Program

In [ ]:
n1=12
n2=14
print("Enter you choice number for the operation.\n1. Addition\n2. Subtraction\n3. Multiplication\n4. Division")
opr=int(input("Enter a number: "))

match opr:
  case 1:
    print("Addition is: ",n1+n2)
  case 2:
    print("Subtraction is: ",n1-n2)
  case 3:
    print("Multiplication is: ",n1*n2)
  case 4:
    print("Division is: ",n1/n2)
  case _:
    print("Please enter proper choice number")

Enter you choice number for the operation.
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter a number: 5
Please enter proper choice number

WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [ ]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

WAP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [ ]:
num=int(input("Enter a number: "))

if num%2==0:
  print("1")
else:
  print("0")

Enter a number: 5
0

WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both
( total 3 list of numbers to be printed)

In [ ]:
l1=[]
l2=[]
l3=[]
for i in range(1,101):
  if i%3==0:
    l1.append(i)
  if i%5==0:
    l2.append(i)
  if (i%3==0) and (i%5==0):
    l3.append(i)

print("list of number divisible by 3 is: ",l1)
print("list of number divisible by 5 is: ",l2)
print("list of number divisible by 3 & 5 is: ",l3)

list of number divisible by 3 is:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
list of number divisible by 5 is:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
list of number divisible by 3 & 5 is:  [15, 30, 45, 60, 75, 90]

WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [ ]:
n=input("Enter 3 numbers: ").split()
a=int(n[0])
b=int(n[1])
c=int(n[2])
if ((a%10)==(b%10)) or ((b%10)==(c%10)) or ((a%10)==(c%10)):
  print("True")
else:
  print("False")

Enter 3 numbers: 45 34 87
False

WAP to convert input number of seconds to HH:MM:SS.

In [ ]:
sec=int(input("Enter input nuber inn seconds: "))

h,m=divmod(sec,(60*60));
m,s=divmod(m,60);
print("HH :MM :SS ::",h,':',m,':',s);

Enter input nuber inn seconds: 61
HH :MM :SS :: 0 : 1 : 1

WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [ ]:
for i in range(2000,2101):
  if (i%400==0)and(i%100==0):
      print(i)

  elif(i%4==0)and(i%100!=0):
      print(i)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

WAP to print calender for a month. Take how many days are there in month and starting day of the month as input
    Ex. input no of days : 30  starting day of month : Thursday
    Ouput :: Day wise Calender  ( just like June 2022 month)

In [ ]:
n=int(input("Enter total no of days in month: "))
day=input("Enter 1st Day of month: ")
wd=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat','Sun']

a=wd.index(day)
for i in range(1,n+1):
  print(i," ",wd[a])
  a+=1
  if a>6:
    a=0

Enter total no of days in month: 30
Enter 1st Day of month: Thu
1   Thu
2   Fri
3   Sat
4   Sun
5   Mon
6   Tue
7   Wed
8   Thu
9   Fri
10   Sat
11   Sun
12   Mon
13   Tue
14   Wed
15   Thu
16   Fri
17   Sat
18   Sun
19   Mon
20   Tue
21   Wed
22   Thu
23   Fri
24   Sat
25   Sun
26   Mon
27   Tue
28   Wed
29   Thu
30   Fri

WAP to print day of input date when given day for 1st day of that month
    ex. input date : 16/07/2022  day of 1st day of that month : Friday
    output : saturday

In [ ]:
n=input("Enter total no of days in month: ").split('/')
date=int(n[0])
day=input("Enter 1st Day of month: ")
wd=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat','Sun']
first_day=wd.index(day)
day=((date+first_day-1)%7)
print(wd[day])

Enter total no of days in month: 16/07/2022
Enter 1st Day of month: Sun
Mon

Factorial Program using Recursion
    n! = n * (n-1) * (n-2) * ... *2*1

In [ ]:
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

recur_factorial(5)

120

Factorial of a number using loop
    n! = n * (n-1) * (n-2) * ... *2*1

In [ ]:
n=int(input("Enter a number: "))
fact=1

for i in range(1,n+1):
  fact*=i
print(f'factorial of {n} is {fact}.')

Enter a number: 5
factorial of 5 is 120.

Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

In [ ]:
n=input("Enter a number: ")
sum=0

for i in n:
  i=int(i)
  sum+=(i**len(n))

if sum==int(n):
  print(f'{n} is Armstrong number.')
else:
  print(f"{n} is not a Armstrong number.")

Enter a number: 153
153 is Armstrong number.

Fibonacci Series.
    1,1,2,3,5,8,13,21,34,...

In [ ]:
n=int(input("Enter a number upto which You want to print Fibo series: "))
prv=0
nxt=1
tem=0

for i in range(int(n)):
  tem=nxt
  nxt+=prv
  prv=tem
  print(nxt, end=" ")

Enter a number upto which You want to print Fibo series: 5
1 2 3 5 8

Perfect sqaure WAP to check if a number is perfect square ot not.

In [ ]:
import math
n=int(input("Enter a Number: "))
sqr=math.sqrt(n)

if sqr==math.floor(sqr):
  print(f"{n} is perfect Squre of {math.floor(sqr)}.")
else:
  print(f"{n} is not perfect Squre")

Enter a Number: 36
36 is perfect Squre of 6.

Prime number.
    Number is not divisible by any number other than 1 and itself

In [ ]:
n=int(input("Enter a number: "))
count=0
for i in range(1,int(n**0.5)+1):
  if (n%i)==0:
    count+=1
    break

if count>1:
  print(f"{n} is not a prime number")
else:
  print(f"{n} is a prime number")

Enter a number: 56
56 is a prime number

Reverse a number.

In [ ]:
n=int(input("Enter a number: "))
i=1
n=str(n)
print(n[::-1])

Enter a number: 573
375

In [ ]:
n=int(input("Enter a number: "))
rev=''
while n>0:
  a=n%10
  rev+=str(a)
  n=n//10

print(rev)

Enter a number: 237491
194732

Reverse a string.

In [ ]:
n=(input("Enter a String: "))
i=1
n=str(n)
print(n[::-1])

Enter a number: Ganesh
hsenaG

In [ ]:
n=(input("Enter a String: "))
l=[]
for i in range(1,len(n)+1):
  l.append(n[-i])

print("".join(l))

Enter a String: Ganesh
hsenaG

Check Palindrome number

In [ ]:
n=input("Enter a Number: ")

if int(n)== int(n[::-1]):
  print("Number is Palindrome")
else:
  print("Number is not Palindrome")

Enter a Number: 2334332
Number is Palindrome

Check Palindrome string.

In [ ]:
n=input("Enter a String: ")
n1=n.lower()
if n1==(n1[::-1]):
  print(f"{n} is Palindrome")
else:
  print(f"{n} is not Palindrome")

Enter a String: Sps
Sps is Palindrome

Find duplicate characters in a string.

In [ ]:
n=input("Enter a String: ")

dup=set()
for i in n:
  a=n.count(i)
  if a>1:
    dup.add(i)

dup.remove(" ")
print(dup)

Enter a String: happy new year!
{'y', 'e', 'a', 'p'}

## Permutation and Combination Program

Take a number from user. Print highest number possible using all digits once from given number

In [ ]:
n=input("Enter a number: ")
# n='8736294'
l=[]
m=''

for i in n:
  l.append(int(i))

for i in range(len(l)):
  a=max(l)
  m+=str(a)
  l.remove(a)

print(m)

Enter a number: 56952435
96555432

print table of any given number
    2,4,6,8,10,12,14,16,18,20

In [ ]:
n=int(input("Enter a number: "))

for i in range(1,11):
  print(i*n, end=" ")

Enter a number: 12
12 24 36 48 60 72 84 96 108 120

WAP for doing bubble sort of given numbers

In [5]:
#Bubble Sort
inl = [5,9,6,2,8,3]
for j in range(len(inl)):
    for i in range(len(inl)-1):
        if inl[i]>inl[i+1]:
            a=inl[i]
            b=inl[i+1]
            inl[i]=b
            inl[i+1]=a
            print(inl)

[5, 6, 9, 2, 8, 3]
[5, 6, 2, 9, 8, 3]
[5, 6, 2, 8, 9, 3]
[5, 6, 2, 8, 3, 9]
[5, 2, 6, 8, 3, 9]
[5, 2, 6, 3, 8, 9]
[2, 5, 6, 3, 8, 9]
[2, 5, 3, 6, 8, 9]
[2, 3, 5, 6, 8, 9]

Write a  program to print the area and perimeter of a circle

In [ ]:
from IPython.utils import path
import math
r=int(input("Enter radius of circle in: "))
a= round(math.pi*r**2,2)
p= round(2*math.pi*r,2)

print(f"Area of circle is {a} and perimeter is {p}.")

Enter radius of circle in: 45
Area of circle is 6361.73 and perimeter is 282.74.

Write a  program that takes three numbers as input to calculate and print the average of the numbers.

In [ ]:
sum=0
for i in range (3):
  n1=int(input("Enter a number: "))
  sum+=n1

print(f"Avg is {round(sum/3,2)}")

Enter a number: 34
Enter a number: 45
Enter a number: 46
Avg is 41.67

45Write a  program that takes three numbers as input then print maximum and minimum number of the three

In [ ]:
n=input("Enter a number: ").split(',')

l=[]
max_no=[]

for i in n:
  l.append(int(i))

for i in range(len(l)):
  max_no.append(max(l))
  l.remove(max(l))


min_no=max_no[::-1]
print('Max: ',max_no)
print('Min: ',min_no)

Enter a number: 324,325,34634,6
Max:  [34634, 325, 324, 6]
Min:  [6, 324, 325, 34634]

Write a  program and compute the sum of the digits of an integer.

In [ ]:
n=int(input("Enter a number"))
sum=0
while n!=0:
  a=n%10
  n=n//10
  sum+=a

print(f"sum is {sum}")

Enter a number543
sum is 12

In [ ]:
n=input("Enter a number: ")
sum=0
for i in n:
  sum+= int(i)

print(f"sum is {sum}")

Enter a number: 2344
sum is 13

Write a  program to swap two variables
a. by using a temporary variable
b. using arithmatic operation and not using a variable
c. without using variable ( using python unpacking syntax)

In [ ]:
#by using a temporary variable
a,b=3,4
print(f"Before swap a={a}, b={b}")
temp = a
a=b
b=temp
print(f"After swap a={a}, b={b}")

Before swap a=3, b=4
After swap a=4, b=3

In [ ]:
# without using variable
a,b=3,4
print(f"Before swap a={a}, b={b}")
a,b=b,a
print(f"After swap a={a}, b={b}")

Before swap a=3, b=4
After swap a=4, b=3

In [ ]:
# using arithmatic operation and not using a variable
a,b=3,4
print(f"Before swap a={a}, b={b}")
a=a+b
b=a-b
a=a-b
print(f"After swap a={a}, b={b}")

Before swap a=3, b=4
After swap a=4, b=3

WAP  to print the ascii value of a given character

In [ ]:
n=input("Enter a chracter: ")

print('ASCII value of character is: ', ord(n))

Enter a chracter: a
ASCII value of character is:  97

Write a  program to add and multiply two binary numbers

In [1]:
# print(bin(8))
# print(bin(9))
# print(bin(16))
add2=[]
l1=list(bin(10))
l1=list(map(int,l1[2::]))
print(l1)
l2=list(bin(10))
l2=list(map(int,l2[2::]))
print(l2)

if len(l1)!=len(l2):
    if len(l1)>len(l2):
        a=len(l1)-len(l2)
        for i in range(a):
            l2.insert(0,0)
#         print(l2)
    else:
        a=len(l2)-len(l1)
        for i in range(a):
            l1.insert(0,0)
#         print(l1)
carr=0       
for i in range(1,len(l1)+1):
    if l1[-i]==0 and l2[-i]==0 and carr==0:
        add2.insert(0,0)
        carr=0
    elif l1[-i]==0 and l2[-i]==0 and carr==1:
        add2.insert(0,1)
        carr=0
    elif l1[-i]==0 and l2[-i]==1 and carr==0:
        add2.insert(0,1)
        carr=0
    elif l1[-i]==1 and l2[-i]==1 and carr==1:
        add2.insert(0,1)
        carr=1
    elif l1[-i]==1 and l2[-i]==0 and carr==0:
        add2.insert(0,1)
        carr=0       
    elif l1[-i]==1 and l2[-i]==0 and carr==1:
        add2.insert(0,0)
        carr=1    
    elif l1[-i]==1 and l2[-i]==1 and carr==0:
        add2.insert(0,0)
        carr=1
if carr==1:
    add2.insert(0,1)
print(add2)

[1, 0, 1, 0]
[1, 0, 1, 0]
[1, 0, 1, 0, 0]

In [2]:
add2=[]
l1=list(bin(27))
l1=list(map(int,l1[2::]))
# print(l1)
l2=list(bin(10))
l2=list(map(int,l2[2::]))
# print(l2)

if len(l1)!=len(l2):
    if len(l1)>len(l2):
        a=len(l1)-len(l2)
        for i in range(a):
            l2.insert(0,0)
#         print(l2)
    else:
        a=len(l2)-len(l1)
        for i in range(a):
            l1.insert(0,0)
#         print(l1)
carr=0 
print(l1)
print(l2)
for i,j in zip(l1[::-1],l2[::-1]):
    if (i+j+carr)==0:
        add2.insert(0,0)
        carr=0
    elif (i+j+carr)==1:
        add2.insert(0,1)
        carr=0
    elif (i+j+carr)==2:
        add2.insert(0,0)
        carr=1
    elif (i+j+carr)==3:
        add2.insert(0,1)
        carr=1
if carr==1:
    add2.insert(0,1)
print(add2)

[1, 1, 0, 1, 1]
[0, 1, 0, 1, 0]
[1, 0, 0, 1, 0, 1]

WAP to convert decimal no to binary without using builtin methods

In [5]:
def to_bin(n):
    if n>1:
        to_bin(n//2)
    print(n%2,end="")
    
to_bin(10)

1010

WAP that accepts an integer (n) and computes the value of n + n* n + n * n * n.

In [ ]:
n=int(input("Enter a number: "))
print(n + n* n + n * n * n)
# print(n + (n* n) + (n * n * n))

Enter a number: 3
39
39

WAP to find the size of a specified file.

In [ ]:
import os

file_size = os.path.getsize('E:\Python\Q1.docx')
print(file_size)

FileNotFoundError: ignored

WAP to display the system time.

In [ ]:
import datetime

print(datetime.datetime.now())

2023-10-16 16:30:29.432659

WAP to accepts an integer and count the factors of the number.

In [ ]:
num= int(input("Enter a number: "))
n=num
l=[]

while n!=1:
  for i in range(2,n+1):
    if n%i==0:
      l.append(str(i))
      n= n//i
      break

print(f"Factors of {num} are: ",", ".join(l))

Enter a number: 100
Factors of 100 are:  2, 2, 5, 5

WAP to capitalize the first letter of each word in input sentence.

In [ ]:
n= input('Enter a string: ').split()

for i in n:
  print(i.capitalize(), end=' ')

Enter a string: happy new year!
Happy New Year!

WAP to find the penultimate (last but one) word of a sentence.

In [ ]:
n= input('Enter a string: ').split()

print(n[-2])

Enter a string: Hello everyone, I am the boss.
the

WAP to check if input is 4 digit number and less than 3000

In [ ]:
n= input('Enter a string: ')

if int(n)<3000:
  print("Condition satisfied.")
else:
  print("condition not satisfied")

Enter a string: 234345
condition not satisfied

WAP to find second last maximum value

WAP to find second last minimum value

In [ ]:
n= input("Enter a number: ").split(",")
l=[]
for i in n:
  l.append(int(i))

sorted_list = sorted(l)
print(f"Second last max value is : {sorted_list[-2]}")
print(f"Second last min value is : {sorted_list[1]}")

Enter a number: 3423,3245,345,354,53
Second last max value is : 3245
Second last min value is : 345

WAP to find number in a list which is repeated exactly 'n' times

In [ ]:
string =  "Nory was a Catholic because her mother was a Catholic, and Nory's mother was a Catholic because her father was a Catholic, and her father was a Catholic because his mother was a Catholic, or had been. Six repetitions in this sentence! Catholic is repeated six times, and by the end, it's actually funny"
l1= string.split()
s1=set(l1)
dic=dict()
# print(l1)
for i in s1:
  a=l1.count(i)
  dic.update({i:a})
for ke,val in zip(dic.keys(), dic.values()):
  if val>1:
    print(ke, val, sep=' : ')

was : 6
a : 6
mother : 3
and : 3
Catholic, : 3
because : 3
father : 2
her : 3
Catholic : 4

WAP to insert a word in the middle of the another string.
    EX. Insert "Tutorial" in the middle of "Python 3.9", so result will be Python Tutorial 3.9

In [ ]:
word1="Tutorial"
string="Python 3.9"

string=string.split()
string.insert((len(string)//2),word1)
print(' '.join(string))

Python Tutorial 3.9

WAP to extract the first half of a given string

In [ ]:
srt = input("Enter a string: ")
print(srt[:len(srt)//2])

Enter a string: one of the super hero is harry potter
one of the super h

WAP to create a new string taking first three characters from a given string. If the length of the given string is less than 3 use "#" as substitute characters

In [ ]:
n= 'ganesh'

a=n[:2]

if len(a)<3:
  for i in range(3):
    a+='#'
    if len(a)==3:
      break

print(a)

ga#

In [ ]:
srt = 'G'
srt= srt[:3]

if len(srt)>3:
  print(srt)
else:
  for i in range(3-len(srt)):
    srt+='#'
  print(srt)

G##

WAP to take file name with any extension as input. Print name and extension of the file name seperately.
    ex. my_photo.png    --> name : my_photo ext: png
        myfile.docx     --> name: myfile  ext: docx
        1.gz            --> name: 1  ext:gz

WAP to check if a string starts with a specified word.
Sample Data: string1 = "Hello how are you?"
word = "Hello"
Sample Output: True

In [ ]:
def word_chk(string,word):
  string=(string).split()

  if string[0]==word:
    return True
  else:
    return False


word_chk('Hello how are you?','Hello')

False


WAP to sort array of strings based on alphabetical order of second character of each string. Assume all strings are minimum 2 character long

In [ ]:
l=['rohit','hardik','virat','ishan','sky']
a=sorted(l,key=lambda x:x[1])

print(a)

['hardik', 'virat', 'sky', 'rohit', 'ishan']

WAP to find all strings in an array of strings which end with "g" or start with "p"

In [ ]:
l=['rohit','phardikg','virat','ishan','sky']

for i in l:
  if ((i[0].upper())=='P') and ((i[-1].upper())=="G"):
    print (i)

phardikg

WAP  start with an input integer n, divide n by 2 if n is even or multiply by 3 and add 1 if n is odd, repeat the process until n = 1.

In [ ]:
n= 123

while n!=1:
  if (n%2)==0:
    n/=2
    print(n)
  else:
    n=(n*3)+1
    print(n)

370
185.0
556.0
278.0
139.0
418.0
209.0
628.0
314.0
157.0
472.0
236.0
118.0
59.0
178.0
89.0
268.0
134.0
67.0
202.0
101.0
304.0
152.0
76.0
38.0
19.0
58.0
29.0
88.0
44.0
22.0
11.0
34.0
17.0
52.0
26.0
13.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

WAP to test if 10 appears as either the first or last element of an array of integers. The length of the array must be greater than or equal to 2.

In [ ]:
n=[10,654,64,6,47,787,8479,79,797,79]

if (n[0]==10) or (n[-1]==10):
  print('10 appear as first or last integer of an array')
else:
  print('10 is not appearing as first or last integer of an array')

10 appear as first or last integer of an array