In [44]:
import mysql.connector

In [45]:
abc = mysql.connector.connect(user = 'root',
                             password = 'root123',
                             host = '127.0.0.1')

In [46]:
cur = abc.cursor()
cur.execute("""create database trial1;""")

In [47]:

abc.close()

In [48]:
abc = mysql.connector.connect(user = 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial1')

In [49]:
cur = abc.cursor()
cur.execute("""create table student(name varchar(20), rollno int, marks int)""")
abc.commit()
abc.close()

In [50]:
abc = mysql.connector.connect(user= 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial1')

cur = abc.cursor()
cur.execute("""insert into student values('Ganesh',16,90)""")
abc.commit()
abc.close()

In [51]:
records = [['Amrut',6,90],
          ['Kalpesh',22,90],
          ['Vikram',13,90]]

In [52]:
abc = mysql.connector.connect(user= 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial1')

cur = abc.cursor()

for name, rollno,marks in records:
    query = "Insert into student values("+repr(name)+","+repr(rollno)+","+str(marks)+");"
    cur.execute(query)

abc.commit()
abc.close()