In [11]:
import mysql.connector

In [19]:
abc = mysql.connector.connect(user = 'root',
                             password = 'root123',
                             host = '127.0.0.1')

In [22]:
cur = abc.cursor()
cur.execute("""create database trial;""")

OperationalError: MySQL Connection not available.

In [24]:

abc.close()

In [25]:
abc = mysql.connector.connect(user = 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial')

In [27]:
cur = abc.cursor()
cur.execute("""create table student(name varchar(20), rollno int, marks int)""")
abc.commit()
abc.close()

In [32]:
abc = mysql.connector.connect(user= 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial')

cur = abc.cursor()
cur.execute("""insert into student values('Ganesh',16,90)""")
abc.commit()
abc.close()

In [33]:
records = [['Amrut',6,90],
          ['Kalpesh',22,90],
          ['Vikram',13,90]]

In [42]:
abc = mysql.connector.connect(user= 'root',
                             password = 'root123',
                             host = '127.0.0.1',
                             database = 'trial')

cur = abc.cursor()

for name, rollno,marks in records:
    query = "Insert into student values("+repr(name)+","+repr(rollno)+","+str(marks)+");"
    cur.execute(query)

abc.commit()
abc.close()